body {
  font-family: sans-serif;
  background: #f4f4f4;
  text-align: center;
  margin: 0;
  padding: 1em;
}

.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 2em;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


#scanned-list {
  list-style-type: none;
  padding: 0;
}


@keyframes pop {
  from { transform: scale(0.5); opacity: 0; }
  to   { transform: scale(1); opacity: 1; }
}

#scanner-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

#reader {
  width: 100%;
}

#scan-animation {
  width: 100%;
  max-width: 400px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 10;
  border-radius: 8px;
}

#fullscreen-gif-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#fullscreen-gif-overlay img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
